.app__gallery-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    min-width: 500px;
    padding-right: 2rem;
}
.app__gallery {
    flex-direction: column;

    background: var(--color-black);
    padding: 4rem 0 4rem 6rem;
    flex-wrap: wrap;
    overflow: hidden;
}
.app__gallery-images_container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
@media screen and (min-width:270px)and (max-width: 560px) {
    .app__gallery {
        padding: 20px 20px;
            font-size: 24px;
          
        font-size: 1rem;
        width: auto;
    }
    .app__gallery-content {
        padding: 20px 20px;
        font-size: 20px;
          
        font-size: 1rem;
        width: auto;
    }
    .p__opensans {
        overflow: hidden;
        
            width: 100%;
            word-break: break-word;
          
      }
    .app__gallery-images{
        flex-wrap: wrap;
    }
    .app__gallery-content {
        min-width: 100%;
    }
}


